matrix:
  include:
    - language: c
      before_install:
        - sudo apt-get install openmpi-bin libopenmpi-dev 
      script: 
        - cd ljmd-c 
        - make check 
        - make test
    
    - language: python
      python: 3.7
      env:
        - OMP_NUM_THREADS=1
      before_install:
        - sudo apt-get install openmpi-bin libopenmpi-dev 
        - pip install mpi4py
      script:
        - cd ljmd-c
        - make check_python
        - make test_python
